<div class="row justify-content-center h-100">
    <div class="col-md-6 align-self-center">
        <mat-card class="text-center">
          <mat-card-header>
            <mat-card-title class="mb-4">Bienvenido a este cuestionario</mat-card-title>
            <mat-card-subtitle>Este es un cuestionario sobre cultura general, consta de 10 preguntas, 
                tu misión será responderlas en el menos tiempo posible. tienes 20 segundos por pregunta el tiempo sobrante
                sera tu calificación por cada pregunta
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content >
                <div class="d-block text-center">
                    <a class="col-md-5 col-sm-7 mb-1" mat-raised-button color="primary" routerLink="/startQuestions/0">iniciar</a>
                    <a class="col-md-5 col-sm-7"  mat-raised-button color="accent" routerLink="/ranking">ver resultados</a>
                </div>
          </mat-card-content>
        </mat-card>
      </div>



</div>